{{#each posts as |post| }}
<div class="card mb-2 border-3 border-secondary">
  <div data-id="{{post.id}}" class="card-header d-flex justify-content-between bg-info">
    {{!-- d-flex justify-content-between --}}
    <h2>
    {{!-- class="d-inline" --}}
      {{post.name}}
    </h2>
    <p class="pt-2">Posted by {{post.user.name}} on {{format_date post.createdAt}}</p>
    {{!-- class="d-inline" --}}
  </div>
  <div class="card-body">
      <p>
        {{post.body}}
      </p>
  </div>
</div>
{{/each}}